.filler{
    width: 100px;
    height : 100px;
    margin: 1px 1px 1px 1px;
    float: left;
    border-radius: 8px;
}

.cell{
    width: 100px;
    height : 100px;
    background-color : #A41034;
    margin: 1px 1px 1px 1px;
    display: inline-block;
    border-radius: 8px;
    color: white;
}

#calendar_days{
    width:720px;
    margin:auto;
}


.weekday{
    display:inline-block;
    width: 95px;
    margin: 1px 1px 1px 1px;
    text-align:center;
    font-size:20px;
}

.cell:hover{
    background-color:rgba(113, 15, 39, 0.435)
}

h4{
    display: inline;
}

#weekdays{
    width:720px;
    margin:auto;
}

#change_dates, #title{
    text-align:center;
}

#event_listings{
    height:fit-content;
    width: 500px;
    margin:auto;
}

#separator{
    height:50px;
}

input{
    width:200px;
}