{% extends 'layout.html' %}

{% block title %} Upcoming Events  {% endblock %}

{% block main %}

<main class="container py-5 text-center">
    <h4>Upcoming Events!</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Club</th>
                <th class="text-start">Event Name</th>
                <th class="text-start">Description</th>
                <th class="text-start">Date</th>
                <th class="text-start">Time</th>
                <th class="text-start">Location</th>
                <th class="text-start">Room Number</th>
            </tr>
        </thead>
        {% for event in all_events %}
            <tr>
                <td class="text-start">{{event[1]}}</td>
                <td class="text-start">{{event[2]}}</td>
                <td class="text-start">{{event[3]}}</td>
                <td class="text-start">{{event[6]}}</td>
                <td class="text-start">{{event[7]}}</td>
                <td class="text-start">{{event[4]}}</td>
                <td class="text-start">{{event[5]}}</td>
            </tr>
        {% endfor %}
    </table>
</main>

{% endblock %}