{% extends "layout.html" %}

{% block main %}

<main class="container py-5 text-center" >
    <form action="/edit_events" method="post">
    <div style="display: none;">
        <input type="text" name = "event_id" value='{{event[12]}}' readonly>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="event_name" name="event_name" placeholder="Event Name" type="text" value = '{{event[2]}}'>
    </div>
    <div class="mb-3">
        <textarea name="description" rows="4" cols="50" placeholder = "Event Description">{{event[3]}}</textarea>
    </div>
    
    <h3>Location Details</h3>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="loc" name="loc" placeholder="Location Name" type="text" value = '{{event[5]}}'>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="street" name="street" placeholder="Street and Street Number (# name)" type="text" value = '{{event[6]}}'>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="city" name="city" placeholder="City" type="text" value = '{{event[7]}}'>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="state" name="state" placeholder="State" type="text" value = '{{event[8]}}'>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="zip" name="zip" placeholder="Zip Code" type="text" value = '{{event[9]}}'>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="room_num" name="room_num" placeholder="Room Number (if applicable)" type="text" value = '{{event[10]}}'>
    </div> 

    <h3>Event Date</h3>
    <input name = "date" type = "date" value = '{{event[10]}}' required>
    <input name = "time" type = "time" value = '{{event[11]}}' required>

    <button class="btn btn-primary" type="submit">Edit Event</button>
    </form>
</main>


{% endblock %}