{% extends "layout.html" %}

{% block title %} Edit Event {% endblock %}


{% block main %}

<main class="container py-5 text-center" >
    <form action="/edit_events" method="post">
    <div style="display: none;">
        <input type="text" name = "event_id" value='{{event[8]}}' readonly>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="event_name" name="event_name" placeholder="Event Name" type="text" value = '{{event[2]}}'>
    </div>
    <div class="mb-3">
        <textarea name="description" rows="4" cols="50" placeholder = "Event Description">{{event[3]}}</textarea>
    </div>
    
    <h3>Location Details</h3>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="loc" name="loc" placeholder="Location Name" type="text" value = '{{event[5]}}'>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto" id="room_num" name="room_num" placeholder="Room Number" type="text" value = '{{event[5]}}'>
    </div> 

    <h3>Event Date</h3>
    <input name = "date" type = "date" value = '{{event[6]}}' required>
    <input name = "time" type = "time" value = '{{event[7]}}' required>

    <button class="btn btn-primary" type="submit">Edit Event</button>
    </form>
</main>


{% endblock %}