{% extends "layout.html" %}

{% block title %} Homepage {% endblock %}

{% block main %}

<div id = "title">
    <h4 id = "month_text"></h4>
    <h4 id = "year_text"></h4>
</div>

<div id = "selected_date" style="display: none;">{{date}}</div>

<form action = '/' id = "change_dates">
    <select name="month" id = "month">
        <option disabled selected value="">Month</option>
        <option value = "January">January</option>
        <option value = "February">February</option>
        <option value = "March">March</option>
        <option value = "April">April</option>        
        <option value = "May">May</option>
        <option value = "June">June</option>
        <option value = "July">July</option>
        <option value = "August">August</option>
        <option value = "September">September</option>
        <option value = "October">October</option>
        <option value = "November">November</option>
        <option value = "December">December</option>
    </select>
    <select name="year" id = "year">
        <option disabled selected value="">Year</option>
        {% for year in years %}
            <option value = "{{year}}">{{year}}</option>
        {% endfor %}
    </select>
</form>

<div class = "calendar_body">
    <div id = "weekdays">
        <div class = "weekday">
            Sun
        </div>
        <div class = "weekday">
            Mon
        </div>
        <div class = "weekday">
            Tues
        </div>
        <div class = "weekday">
            Wed
        </div>
        <div class = "weekday">
            Thurs
        </div>
        <div class = "weekday">
            Fri
        </div>
        <div class = "weekday">
            Sat
        </div>
    </div>

    <div id = "calendar_days"></div>

</div>

<div id = "separator"></div>

<div id= "event_listings">
    <h4>{{message}}</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class = "text-start">Club</th>
                <th class="text-start">Event Name</th>
                <th class="text-start">Description</th>
                <th class="text-end">Time</th>
                <th class="text-end">Location</th>
                <th class="text-end">Room Num</th>
            </tr>
        </thead>
        {% for event in events %}
            <tr>
                <td class="text-start">{{event[1]}}</td>
                <td class="text-start">{{event[2]}}</td>
                <td class="text-start">{{event[3]}}</td>
                <td class="text-end">{{event[7]}}</td>
                <td class="text-end">{{event[4]}}</td>
                <td class="text-end">{{event[5]}}</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}