{% extends "layout.html" %}

{% block title %} Register {% endblock %}

{% block main %}

<main class="container py-5 text-center">
    <form action='/register' method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="clubname">
                <option disabled selected value="">Club</option>
                {% for club in clubs %}
                    <option value="{{club[0]}}">{{club[0]}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <textarea name="bio" rows="4" cols="50" placeholder = "Club Bio!"></textarea>
        </div>
        <div class="mb-3">
            <input name="password" type="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <input name="confirmation" type="password" placeholder="Re-enter Password">
        </div>

        <button class="btn btn-primary" type="submit">Register</button>
        <p>{{success_error}}</p>
    </form>
</main>

{% endblock %}